In [ ]:
#import the libraries
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2
import mysql.connector 
import logging

In [ ]:
#Creat logging for logs and data
logging.basicConfig(
    filename='logs.log',
    level=logging.DEBUG,
    format='%(asctime)s-%(levelname)s-%(message)s',
    filemode='a'
)

Datalog=logging.getlogger(__name__)
Datalog.propagate = False
Datalog.setLevel(logging.DEBUG) 
handler=logging.fileHandler('data.log', mode='a')
format=logging.setformatter('%(asctime)s-%(levelname)s-%(message)s')
handler.setformatter(format)
Datalog.addHandler(handler)

In [ ]:
#create the connection for both mysql and postgresql
conn = psycopg2.connect(
    host="localhost",
    database="postsqldb",
    user='postgres',
    password='Davvysql#1',
    port='5432'
)

myconn= mysql.connector.connect( 
    username='root',
    password='Davvysql#1',
    host='localhost',
    database='sqldb',
    ssl_disabled=True
)

#create the cursor for Mysql and Postgresql
postcur = conn.cursor()
mycur = myconn.cursor()
postcur.execute('select version();')
mycur.execute('select version();')

#log the connection
logging.debug(f'Postgresql connection verision:' postcur.fetchall())
logging.debug(f'MySQL connection verision:' mycur.fetchall())

#create the sqlalchemy engine
engine = create_engine(f'postgresql+psycopg2://postgres:Davvysql#1@localhost/postsqldb')
logging.debug(f'sqlalchemy engine:' {engine})

[('PostgreSQL 18.0 on x86_64-windows, compiled by msvc-19.44.35217, 64-bit',)]
[('8.0.43',)]

In [ ]:
postcur.execute(" SELECT datname FROM pg_database;")
mycur.execute("show databases;")
Datalog.info(f'Show postgresql databases: {postcur.fetchall()}')
Datalog.info(f'Show Mysql databases: {mycur.fetchall()}')

[('postgres',), ('postsqldb',), ('template1',), ('template0',)]
[('information_schema',), ('mysql',), ('performance_schema',), ('sqldb',), ('sys',)]

In [ ]:

# second way to query the table to make a new dataframe
query = '''
    SELECT 
        category,
        country, 
        SUM(amount) AS sum_amount 
    FROM factsales AS F
    LEFT JOIN dimcategory AS dca ON F.categoryid = DCA.categoryid
    LEFT JOIN dimcountry AS dco ON F.countryid = dco.countryid
    GROUP BY category, country
    ORDER BY country, category;
'''

df2 = pd.read_sql_query(query, myconn)
logging.debug("First query was ran")
Datalog.info(f'New Dataframe: {df2.head(5)}')

In [ ]:
#Second Query for the new dataframe
query2='''select 
(amount) as Amountsum,
dd.date
from factsales as F left join dimdate as dd 
on F.dateid = dd.dateid;'''
df3 = pd.read_sql_query(query2, myconn)
logging.debug("Second query was ran")
Datalog.info(f'New Dataframe: {df3.head(5)}')

C:\Users\dezeu\AppData\Local\Temp\ipykernel_21848\1663614397.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql_query(query, myconn)

        category    country  sum_amount
0          Books  Argentina   4285010.0
1    Electronics  Argentina   4338757.0
2       Software  Argentina   4292153.0
3         Sports  Argentina   4450354.0
4           Toys  Argentina   4389307.0
..           ...        ...         ...
275        Books    Vietnam   4238299.0
276  Electronics    Vietnam   4339044.0
277     Software    Vietnam   4221673.0
278       Sports    Vietnam   4175508.0
279         Toys    Vietnam   4306048.0

[280 rows x 3 columns]

In [ ]:
#Transfer the new dataframes into the postgresql database
df2.to_sql('amountsum', engine , if_exists='replace', index=False)
df3.to_sql('amounttime', engine,  if_exists='replace', index=False)

logging.debug("Dataframe 2 and 3 are moved to Postgresql database")

1000